ul#list {
  display: table;
  border-collapse: collapse;
}

ul#list li {
  display: table-row;
}

li.tableHeader {
	background: #FDC561;
}
span.cell {
  display: table-cell;
  padding: 10px;
  border: 1px solid #000;
}

div#tweetList {
	width : 900px;
  margin: 0 auto 0 auto;
  padding-top:10px;
}